client/poof_game/[Ll]ibrary/
client/poof_game/[Tt]emp/
client/poof_game/[Oo]bj/
client/poof_game/[Bb]uild/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

*.pidb.meta

# Ignore the generated crash reports file.
client/sysinfo.txt

*.*~

# Ignore backend python compiled stuff
*.pyc
